<!DOCTYPE html>
<html lang="en">

<body>
<table class="email-wrapper" role="presentation">
    <tr>
        <td>
            <table class="email-content" role="presentation">
                <!-- Email Body -->
                <tr>
                    <td class="email-body">
                        <table class="email-body_inner" role="presentation">
                            <!-- Body content -->
                            <tr>
                                <td class="content-cell">
                                    <div>
                                        <h1>
                                            <span th:text="#{mail.new.account.welcome}"></span>
                                            <span th:text="${username + ','}"></span>
                                        </h1>
                                        <p>
                                            <span th:text="#{mail.new.account.info1}"></span>
                                            <span th:text="#{mail.new.account.info2}"></span>
                                            <strong th:text="#{mail.new.account.info.link.duration}"></strong>
                                        </p>
                                        <!-- Action -->
                                        <table class="body-action" role="presentation">
                                            <tr>
                                                <td align="center">
                                                    <table role="presentation">
                                                        <tr>
                                                            <td>
                                                                <a th:href="${confirmLink}"
                                                                   class="button button--red"
                                                                   target="_blank"
                                                                   th:text="#{mail.new.account.button}"></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                        <p>
                                            <span th:text="#{mail.new.account.bestRegards}"></span>
                                            <br>
                                            <span th:text="#{mail.password.reset.body.team}"></span>
                                        </p>
                                        <!-- Sub copy -->
                                        <table class="body-sub" role="presentation">
                                            <tr>
                                                <td>
                                                    <p class="sub" th:text="#{mail.password.reset.body.sub}"></p>
                                                    <p class="sub" th:text="${confirmLink}"></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>